:root {
  width: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.ant-layout-sider-trigger {
  border-right: 1px solid #2a2f3a;
}
